/* day theme */

.general-header {
	background: #fff !important;
}

.custom-icon {
	border-color: #fff !important;
}

.title {
	color: #999 !important;
	font-weight: bolder;
}

ion-content {
	background-color: #fff !important;
}

ion-item.item {
	border-width: 0;
	color: #999 !important;
	text-align: center;
	padding:4px;
	padding-top:15px;
	padding-bottom:15px;
	background-color: #fff !important;
}

.note-view ion-content {
	padding: 15px;
}

.note-view .writer {
	color: #999 !important;
	overflow:visible !important; /* fix to no scrolling textarea */
}

.requests-view .item {
	color: #999 !important;
}

hr {
	border:none;
	border-top:2px dotted #ddd;
	color:#fff;
	background-color:#fff;
	height:1px;
	width:80%;
}

textarea {
	background-color: #fff;
	color: #999;
}

input.title-editor {
	font-family: 'NotoSerifRegular';
	font-weight: bold;
	background-color: #fff;
	color: #999 !important;
	height:100%;
	font-size: 100%;
}

.custom-icon {
	color: #444 !important;
}

.tip-bell {
	color: #FFA500 !important;
}

.settings-username {
	color: #ccc;
}

.login-input {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: 1px dotted #bbb !important;
	width: 90%;
	padding:10px;
	background-color: #fff;
	color: #222 !important;
}

.login-button {
	display:block;
	border-radius:50%;
	width:120px !important;
	height:120px !important;
	background-color:#777;
	color:#ccc;
	font-size:17px;
}
